{erl_opts, []}.
{deps, []}.

{escript_incl_apps, [spellerl]}.
{escript_main_app,  spellerl}.
{escript_name,      spellerl}.
{escript_emu_args,  "%%! -escript main spellerl_cli +sbtu +A1\n"}.

%% Profiles
{profiles, [{test,
             [{erl_opts, [debug_info]}]
            }]}.

% Local Variables:
% mode: erlang
% End:
